div {margin: o; padding: 0;}
div div {background: #A4CA39; position: relative;}

.android{
	height: 404px; width: 334px;
	margin: 100px auto;
	
}
.head{
	width: 220px; height: 100px;
	top: 32px;
	
	border-radius: 110px 110px 0 0;
	-moz-border-radius: 110px 110px 0 0;
	-webkit-border-radius: 110px 110px 0 0;
	
	-webkit-transition: all 0.1s ease-in;
}
.l_eye, .r_eye {
	background: #fff;
	width: 20px; height: 20px;
	position: absolute; top: 42px;
	
	border-radius: 10px;
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
}
table {
	postion: center;
	text-align:center;
	vertical-align:middle;
	
}
.l_eye {left: 50px;}
.r_eye {right: 50px;}

.l_ant, .r_ant{
	width: 6px; height: 50px;
	position: absolute; top: -34px;
	
	border-radius: 3px;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
}
.l_ant {
	left: 50px;
	transform: rotate(-30deg);
	-webkit-transform: rotate(-30deg);
	-moz-transform: rotate(-30deg);
}
.r_ant {
	right: 50px;
	transform: rotate(30deg);
	-webkit-transform: rotate(30deg);
	-moz-transform: rotate(30deg);
}

.body{
	width: 220px; height: 184px;
	top: 40px;
	
	border-radius: 0 0 25px 25px;
	-webkit-border-radius: 0 0 25px 25px;
	-moz-border-radius: 0 0 25px 25px;
}

.l_arm, .r_arm, .l_leg, .r_leg {
	width: 50px; position: absolute;
	-webkit-transition: all 0.1s ease-in;
}
.l_arm, .r_arm {
	height: 150px;
	border-radius: 25px;
	-moz-border-radius: 25px;
	-webkit-border-radius: 25px;
}
.l_leg, .r_leg {
	height: 80px; top: 182px;
	border-radius: 0 0 25px 25px;
	-moz-border-radius: 0 0 25px 25px;
	-webkit-border-radius: 0 0 25px 25px;
}
.l_arm {left: -58px;}
.r_arm {right: -58px;}
.l_leg {left: 45px;}
.r_leg {right: 45px;}

.head:hover {
	-webkit-transform: rotate(-10deg) translate(-4px, -8px);
	-transform: rotate(-5deg) translate(-4px, -8px);
	-moz-transform: rotate(-5deg) translate(-4px, -8px);
}
.l_arm:hover{
	-webkit-transform: rotate(90deg) translate(-14px, 0);
	-transform: rotate(15deg) translate(-14px, 0);
	-moz-transform: rotate(15deg) translate(-14px, 0);
}
.r_arm:hover{
	-webkit-transform: rotate(-90deg) translate(30px, 0);
	-transform: rotate(-30deg) translate(30px, 0);
	-moz-transform: rotate(-30deg) translate(30px, 0);
}
* {
  /* Nov 25, 2013: !important required to override selectors' implied state of running. */
  animation-play-state: paused !important;
}

.playing * {
  animation-play-state: running !important;
}

.tuna {
  animation: 
    walk-cycle 1s steps(12) 24,
    walk-to-run .75s steps(12) 24s 1, 
    run-cycle .5s steps(13) 24.75s infinite;
  background: url(http://stash.rachelnabors.com/24ways2012/cat_sprite.png) 0 0 no-repeat; 
  height: 200px;
  width: 400px;
  position: absolute;
  bottom: 1px;
  left: 50%;
  margin-left: -200px;
  translate3d(0,0,0);
}

@keyframes walk-cycle {  
  0% {background-position: 0 0; } 
  100% {background-position: 0 -2391px; } 
}

@keyframes walk-to-run {  
  0% {background-position: -400px 0; } 
  100% {background-position: -400px -2391px; } 
}

@keyframes run-cycle {  
  0% {background-position: -800px 0; }
  100% {background-position: -800px -2591px; } 
}

.foreground, .midground, .background {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0; left: 0;
  translate3d(0,0,0); 
}

.foreground {
  animation:
    parallax_fg 10s linear infinite,
    parallax_fg_fast 2s linear 24.75s infinite;
  background:  url(http://stash.rachelnabors.com/24ways2012/foreground_grass.png) 0 100% repeat-x;
  z-index: 3;
}

@keyframes parallax_fg { 
  0% { background-position: -3584px 100%;} 
  100% {background-position: 0 100%; } 
}

@keyframes parallax_fg_fast {  
  0% { background-position: 8870.4px 100%;} 
  100% {background-position: 12454.4px 100%; }
}

.midground {
  animation: 
    parallax_mg 20s linear infinite,
    parallax_mg_fast 5s linear 24.75s infinite;
  background:  url(http://stash.rachelnabors.com/24ways2012/midground_grass.png) 0 100% repeat-x;
  z-index: 2;
}

@keyframes parallax_mg {  
  0% { background-position: -3000px 100%;}
  100% {background-position: 0 100%; }
}
@keyframes parallax_mg_fast { 
  0% { background-position: 3712.5px 100%;}
  100% {background-position: 6712.5px 100%; } 
}

.background {
  background-image:
    url(http://stash.rachelnabors.com/24ways2012/background_mountain5.png),
    url(http://stash.rachelnabors.com/24ways2012/background_mountain4.png),
    url(http://stash.rachelnabors.com/24ways2012/background_mountain3.png),
    url(http://stash.rachelnabors.com/24ways2012/background_mountain2.png),
    url(http://stash.rachelnabors.com/24ways2012/background_mountain1.png);
  background-repeat: repeat-x;
  background-position: 0 100%;
  z-index: 1;
  animation: 
    parallax_bg 40s linear infinite,
    parallax_bg_fast 10s linear 24.75s infinite;
}

@keyframes parallax_bg {  
  0% { background-position: -2400px 100%, -2000px 100%, -1800px 100%, -1600px 100%, -1200px 100%;} 
  100% {background-position: 0 100%, 0 100%, 0 100%, 0 100%, 0 100%; } 
}
@keyframes parallax_bg_fast { 
  0% { background-position: 1485px 100%, 1237.5px 100%, 1113.75px 100%, 990px 100%, 742.5px 100%;} 
  100% {background-position: 3885px 100%, 3237.5px 100%, 2913.75px 100%, 2590px 100%, 1942.5px 100%; } 
}
body {
    background: linear-gradient(top, rgba(255,255,255,1) 0%,rgba(255,255,255,0) 100%),
    #d2d2d2 url(http://stash.rachelnabors.com/24ways2012/background_clouds.png);
}
