body {
	background-color:#FF99FF;
	background-image:url('');
	background-attachment: fixed;
	background-position:top center;
	background-repeat:no-repeat;
        }

title {
color: orange;
font-family:Giddehand;
}

h1 {
text-align: center;
color: orange;
font-family: Eraser;
font-weight:bold;
text-decoration: underline;
}

h2 {
text-align: center;
color: orange;
font-family: Fingerpaint;
text-decoration: underline;
}

td
{
padding:10px;
}

body {
background-color:#483d8b;
}



div{
    height:350px;
    width:1000px;
    border-color: #000000;
    Background-color:#000099;
    border-style:0px solid #000000;
    border-radius:2px;
    margin:10px 5px 5px 10px;
    text-align:center;
    vertical-align:middle;
    display: inline;
}
a {
    text-decoration: none;
    color: orange;
    vertical-align: middle;
    font-family:Giddehand, cursive;
    text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #fff, 0 0 40px #ff00de, 0 0 70px #ff00de, 0 0 80px #ff00de, 0 0 100px #ff00de, 0 0 150px #ff00de;
}

ul {
list-style-type:none;
margin:0;
padding:0;
color: orange;
font-family: 3Dumb, 2Dumb, Giddehand, HandwritingDakota, Noteworthy, AirplanesInTheNightSky, Chalkboard, cursive;
font-size:25px;
padding: 1px;
text-align: center;
}

li {
display:inline;
text-align: center;
padding: 1px;
}



body {
    text-align: center;
    border: 0px solid orange;
  }
#gallery {
padding:5px;
margin:0;
overflow:hidden;
width:500px;
height:350px;
border:0px solid blue;
} 

#div_container
{
width:500px;
height:350px;
background-image:url(http://www.graphicsfactory.com/clip-art/image_files/tn_image/6/601866-tn_wut_05_c.jpg);
background-repeat:no-repeat;
background-position:left;
opacity: 0.5;
} 

#div_img
{
display:block;
height:350px;
width:50px;
float:left;
border-bottom:0px solid blue;
-webkit-transition:0.5s;

} 

#div_img:hover {
background:#eee;
width:500px;
}

.img {

width:500px;
height:350px;
border: 1px dashed blue;
-webkit-transition:0.5s;
box-shadow:2px 2px 2px 2px;
}
.img:hover {
width:500px;
}
- See more at: http://imajineweb.com/cssaccordion#sthash.50VvY2t1.dpuf

.multiple-borders {
  -webkit-box-shadow:
            0px 0px 0px 2px rgba(0,0,0,0.6),
                0px 0px 0px 14px #fff,
                0px 0px 0px 18px rgba(0,0,0,0.2),
                6px 6px 8px 17px #555;
   
     -moz-box-shadow:
            0px 0px 0px 2px rgba(0,0,0,0.6),
                0px 0px 0px 14px #fff,
                0px 0px 0px 18px rgba(0,0,0,0.2),
                6px 6px 8px 17px #555;
   
          box-shadow:
            0px 0px 0px 2px rgba(0,0,0,0.6),
                0px 0px 0px 14px #fff,
                0px 0px 0px 18px rgba(0,0,0,0.2),
                6px 6px 8px 17px #555;
}

body {
	background: #21303b;
	color: #fff;
	
}

h2 {
	font-size: 120px;
	line-height: 190px;
	font-family: Helvetica, sans-serif;
	font-weight: bold;
	text-align: center;
	text-shadow: rgba(0, 0, 0, .3) 5px 5px 5px;
}

#container {
	
	/*gradient*/
	background: #666666; /* old browsers */
	background: -moz-linear-gradient(top, #666666 4%, #545454 50%, #3A3A3A 51%, #131313 100%); /* firefox */
	
	background: -webkit-gradient(linear, left top, left bottom, color-stop(4%,#666666), color-stop(50%,#545454), color-stop(51%,#3A3A3A), color-stop(100%,#131313)); /* webkit */
	
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#666666', endColorstr='#131313',GradientType=0 ); /* ie */
	
	/*box styles*/
	height: 200px;
	width: 400px;
	margin: 100px auto;
	
	/*shadow*/
	-webkit-box-shadow: 5px 5px 5px rgba(0, 0, 0, .3);
	-moz-box-shadow: 5px 5px 5px rgba(0, 0, 0, .3);
	box-shadow: 5px 5px 5px rgba(0, 0, 0, .3);
	
	/*corners*/
	-webkit-border-radius: 50px;
	-moz-border-radius: 50px;
	border-radius: 50px;	
.orange.awesome {
background-color: #ff5c00;
}
.yellow.awesome {
background-color: #ffb515;
}
