body {
	background-color:#000000;
	background-attachment: fixed;
	background-position:top center;
	background-repeat:repeat;
        }

title {
color: orange;
font-family:Giddehand;
}

h1 {
text-align: center;
color: orange;
font-family: Eraser;
font-weight:bold;
text-decoration: underline;
}

h2 {
text-align: center;
color: orange;
font-family: Fingerpaint;
text-decoration: none;
}



body {
background-color:#483d8b;
}



span {
	font-family:Chalkboard;
	font-size:15px;
	text-align: center;
	
}

.button {
	position:inline;
	padding: 10px 20px 10px 20px;
	margin: 10px 20px 10px 20pxpx;
	height: 10px;
	width:100px;
background-color:orange;
border: solid #888888 1px;
    border-radius: 10px;
    text-decoration: none;
 text-shadow: 1px 1px 0 rgba(0,0,0,0.25);
    box-shadow: 0 1px 0 rgba(255,255,255, 0.3), inset 0 1px 0 rgba(255,255,255, 0.3);

}


* {
   padding: 0;
   margin: 0;
}

body {
   background: #888888;
   color: #000099;
   font-family: Noteworthy; Chalkboard; ComicSans,  helvetica, sans-serif;
}

@font-face {
    font-family: 'KulminoituvaRegular';
    src: url('kulminoituva-webfont.eot');
    src: local('‚ò∫'), url('kulminoituva-webfont.woff') format('woff'), url('kulminoituva-webfont.ttf') format('truetype'), url('kulminoituva-webfont.svg#webfontHNAi9IoX') format('svg');
    font-weight: normal;
    font-style: normal;
}
ul li {
    float: left;
    list-style: none;
    margin-right: 1em;
    font-family: 'KulminoituvaRegular', helvetica, sans-serif;
    font-size: 25px;
    padding: 12px; 
}
 
li a {
    color: #544738;
    text-decoration: none;
    float: left;
}
 
li a:hover {
    color: #7eb9be;
}

li a:hover {
    -webkit-transform: rotate(-10deg) scale(1.2);
    -moz-transform: rotate(-10deg) scale(1.2);
    -o-transform: rotate(-10deg) scale(1.2);
}

.left a:hover {
    -webkit-transform: rotate(-10deg) scale(1.2);
    -moz-transform: rotate(-10deg) scale(1.2);
    -o-transform: rotate(-10deg) scale(1.2);
}
 
.right a:hover {
    -webkit-transform: rotate(10deg) scale(1.2);
    -moz-transform: rotate(10deg) scale(1.2);
    -o-transform: rotate(10deg) scale(1.2);
}

.left a:hover {
     
    /*Transition*/
    -webkit-transition:All .5s ease;
    -moz-transition:All .5s ease;
    -o-transition:All .5s ease;
     
    /*Transform*/
    -webkit-transform: rotate(-10deg) scale(1.2);
    -moz-transform: rotate(-10deg) scale(1.2);
    -o-transform: rotate(-10deg) scale(1.2);
}
 
.right a:hover {
 
    /*Transition*/
    -webkit-transition:All .5s ease;
    -moz-transition:All .5s ease;
    -o-transition:All .5s ease;
     
    /*Transform*/
    -webkit-transform: rotate(10deg) scale(1.2);
    -moz-transform: rotate(10deg) scale(1.2);
    -o-transform: rotate(10deg) scale(1.2);
}

@import url(http://fonts.googleapis.com/css?family=Gloria+Hallelujah);
* { box-sizing:border-box; }
body { background:url(http://www.cuzzsoft.com/wallbank/161-black-background-metal-hole-small-i-wallpaper.jpg); #cacaca; margin:30px; }



#bible {
	padding: 50px 50px 50px 50px;
	margin:0 auto 20px auto;
	width:250px;
	height:250px;   
	font:20px 'Gloria Hallelujah', cursive; 
	line-height:1.5;
	border:0;
	padding-right:10px;
	padding-left:10px;
	padding-top:10px;
	padding-bottom:10px;
	border-radius:3px;
	background: -webkit-linear-gradient(red, red);
	background: -moz-linear-gradient(red, white);
	background: -o-linear-gradient(red, white);
	background: -ms-linear-gradient(red, white);
	background: linear-gradient(red, white);
	box-shadow:0 4px 6px rgba(0,0,0,0.1);
	overflow:hidden;
	transition:box-shadow 0.5s ease;
	font-smoothing:subpixel-antialiased;
	max-width:1000px;
	max-height:500px;
	border: solid #000000 1px;
    border-radius: 15px;
}
#chinese 
{
		display: block;
	padding:25px 25px 40px;
	margin:0 auto 20px auto;
	width:250px;
	height:250px;   
	font:20px 'Gloria Hallelujah', cursive; 
	line-height:1.5;
	border:0;
	padding-right:10px;
	padding-left:5px;
	padding-top:5px;
	padding-bottom:5px;
	border-radius:3px;
	background: -webkit-linear-gradient(orange, orange);
	background: -moz-linear-gradient(orange, white);
	background: -o-linear-gradient(orange, white);
	background: -ms-linear-gradient(orange, white);
	background: linear-gradient(orange, white);
	box-shadow:0 4px 6px rgba(0,0,0,0.1);
	overflow:hidden;
	transition:box-shadow 0.5s ease;
	font-smoothing:subpixel-antialiased;
max-width:1000px;
	max-height:500px;
	border: solid #000000 1px;
    border-radius: 15px;
}
#science{
		display: block;
	padding:25px 25px 40px;
	margin:0 auto 20px auto;
	width:250px;
	height:250px;   
	font:20px 'Gloria Hallelujah', cursive; 
	line-height:1.5;
	border:0;
	padding-right:10px;
	padding-left:5px;
	padding-top:5px;
	padding-bottom:5px;
	border-radius:3px;
	background: -webkit-linear-gradient(yellow, yellow);
	background: -moz-linear-gradient(yellow, white);
	background: -o-linear-gradient(yellow, white);
	background: -ms-linear-gradient(yellow, white);
	background: linear-gradient(yellow, white);
	box-shadow:0 4px 6px rgba(0,0,0,0.1);
	overflow:hidden;
	transition:box-shadow 0.5s ease;
	font-smoothing:subpixel-antialiased;
max-width:1000px;
	max-height:500px;
	border: solid #000000 1px;
    border-radius: 15px;
}

#english{
		display: block;
	padding:25px 25px 40px;
	margin:0 auto 20px auto;
	width:250px;
	height:250px;   
	font:20px 'Gloria Hallelujah', cursive; 
	line-height:1.5;
	border:0;
	padding-right:10px;
	padding-left:5px;
	padding-top:5px;
	padding-bottom:5px;
	border-radius:3px;
	background: -webkit-linear-gradient(green, green);
	background: -moz-linear-gradient(green, white);
	background: -o-linear-gradient(green, blue);
	background: -ms-linear-gradient(green, white);
	background: linear-gradient(green, white);
	box-shadow:0 4px 6px rgba(0,0,0,0.1);
	overflow:hidden;
	transition:box-shadow 0.5s ease;
	font-smoothing:subpixel-antialiased;
	max-width:1000px;
	max-height:500px;
	border: solid #000000 1px;
    border-radius: 15px;
}
#history
{
		display: block;
	padding:25px 25px 40px;
	margin:0 auto 20px auto;
	width:250px;
	height:250px;   
	font:20px 'Gloria Hallelujah', cursive; 
	line-height:1.5;
	border:0;
	padding-right:10px;
	padding-left:5px;
	padding-top:5px;
	padding-bottom:5px;
	border-radius:3px;
		background: -webkit-linear-gradient(blue, blue);
	background: -moz-linear-gradient(blue, white);
	background: -o-linear-gradient(blue, blue);
	background: -ms-linear-gradient(blue, white);
	background: linear-gradient(blue, white);
	box-shadow:0 4px 6px rgba(0,0,0,0.1);
	
	overflow:hidden;
	transition:box-shadow 0.5s ease;
	font-smoothing:subpixel-antialiased;
max-width:1000px;
	max-height:500px;
	border: solid #000000 1px;
    border-radius: 15px;
}
#math
{
		display: block;
	padding:25px 25px 40px;
	margin:0 auto 20px auto;
	width:250px;
	height:250px;   
	font:20px 'Gloria Hallelujah', cursive; 
	line-height:1.5;
	border:0;
	padding-right:10px;
	padding-left:5px;
	padding-top:5px;
	padding-bottom:5px;
	border-radius:3px;
	background: -webkit-linear-gradient(purple, purple);
	background: -moz-linear-gradient(purple, white);
	background: -o-linear-gradient(purple, white);
	background: -ms-linear-gradient(purple, white);
	background: linear-gradient(purple, white);
	box-shadow:0 4px 6px rgba(0,0,0,0.1);
	
	overflow:hidden;
	transition:box-shadow 0.5s ease;
	font-smoothing:subpixel-antialiased;
max-width:1000px;
	max-height:500px;
	border: solid #000000 1px;
    border-radius: 15px;
}
#tech 
{
		display: block;
	padding:25px 25px 40px;
	margin:0 auto 20px auto;
	width:250px;
	height:250px;   
	font:20px 'Gloria Hallelujah', cursive; 
	line-height:1.5;
	border:0;
	padding-right:10px;
	padding-left:5px;
	padding-top:5px;
	padding-bottom:5px;
	border-radius:3px;
	background: -webkit-linear-gradient(#ff1493, #ff1493);
	background: -moz-linear-gradient(#ff1493, white);
	background: -o-linear-gradient(#ff1493, white);
	background: -ms-linear-gradient(#ff1493, white);
	background: linear-gradient(#ff1493, white);
	box-shadow:0 4px 6px rgba(0,0,0,0.1);
	overflow:hidden;
	transition:box-shadow 0.5s ease;
	font-smoothing:subpixel-antialiased;
	max-width:1000px;
	max-height:500px;
	border: solid #000000 1px;
    border-radius: 15px;
}
textarea:hover { box-shadow:0 5px 8px rgba(0,0,0,0.15); }
textarea:focus { box-shadow:0 5px 12px rgba(0,0,0,0.2); outline:none; }
table {
	margin-left: auto;
	margin-right: auto;
	text-align: center;
	table-align: center;
} 

