body {
	background-color:#FF99FF;
	background-attachment:fixed;
	background-position:middle center;
	background-repeat:no-repeat;
        }

title {
color: orange;
font-family:Giddehand;
}

h1 {
text-align: center;
color: orange;
font-family: Eraser;
font-weight:bold;
text-decoration: underline;
}

h2 {
text-align: center;
color: orange;
font-family: Finger paint;
text-decoration: underline;
}

td
{
padding:10px;
}

body {
background-color:#483d8b;
}



div{
    height:220px;
    width:1000px;
    border-color: #000000;
    Background-color:#000099;
    border-style:2px solid #000000;
    border-radius:2px;
    margin:2px 5px 5px 5px;
    text-align:center;
    vertical-align:middle;
    display: inline;
}
a {
    text-decoration: none;
    color: orange;
    vertical-align: middle;
    font-family:Giddehand, cursive;
}

ul {
list-style-type:none;
margin:0;
padding:0;
color: orange;
font-family: Giddehand;
font-size:25px;
padding: 1px;
text-align: center;
}

li {
display:inline;
text-align: center;
padding: 1px;
}



body {
    text-align: center;
    border: 1 px solid orange;
  }
#gallery {
padding:5px;
margin:0;
overflow:hidden;
width:440px;
height:239px;
border:1px solid blue;
} 

#div_container
{
width:440px;
height:239px;
background-image:url();
background-repeat:no-repeat;
background-position:left;
} 

#div_img
{
display:block;
height:249px;
width:30px;
float:left;
border-bottom:1px solid blue;
-webkit-transition:0.5s;

} 

#div_img:hover {
background:#eee;
width:320px;
}

.img {

width:30px;
height:239px;
border:0;
-webkit-transition:0.5s;
}
.img:hover {
width:320px;
}
- See more at: http://imajineweb.com/cssaccordion#sthash.50VvY2t1.dpuf

.multiple-borders {
  -webkit-box-shadow:
            0px 0px 0px 2px rgba(0,0,0,0.6),
                0px 0px 0px 14px #fff,
                0px 0px 0px 18px rgba(0,0,0,0.2),
                6px 6px 8px 17px #555;
   
     -moz-box-shadow:
            0px 0px 0px 2px rgba(0,0,0,0.6),
                0px 0px 0px 14px #fff,
                0px 0px 0px 18px rgba(0,0,0,0.2),
                6px 6px 8px 17px #555;
   
          box-shadow:
            0px 0px 0px 2px rgba(0,0,0,0.6),
                0px 0px 0px 14px #fff,
                0px 0px 0px 18px rgba(0,0,0,0.2),
                6px 6px 8px 17px #555;
}
